<div class="container pt-5 pb-5" id="blog">

  <h2 class="pt-5 p-3">Doctor Blogs</h2>


  <div *ngFor="let blog of blogs" class="p-3">
    <div class="alert alert-success">
      <div class="row">

        <div class="col-md-4">
          <h4>{{ blog.title }}</h4>
          <p><em>By <code >{{ blog.author }}</code> on <code>{{ blog.date }}</code></em></p>
          <p>{{ blog.content }}</p>
          <button class="btn btn-outline-warning btn-md mt-3">For more</button> 
        </div>

        <div class="col-md-8">
          <textarea [(ngModel)]="comment" placeholder="Leave a comment"></textarea>
  
          <button class="a" (click)="addComment(blog)">Add Comment</button>
        </div>
        
      </div>

         
        

    </div>
  </div>
    
</div>