<div class="container-fluid patient-appointments" id="appointment">

  <div class="container p-3 pt-5 text-start">
    <h2>Your Appointments</h2>
    <button class="m-2" (click)="bookAppointment()">Book an Appointment</button>
  </div>

  
  <div class="container col">
    <div class="col-md-6">
      <h3 class="pt-5 pb-4">Upcoming Appointments</h3> 
      <table class="container table responsive-table table-hover table-sm pt-3 table-primary">
        <thead>
          <tr>
            <th>Doctor</th>
            <th>Specialty</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of upcomingAppointments">
            <td>{{ appointment.doctor }}</td>
            <td>{{ appointment.specialty }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

</div>