.notification-page {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

/********************/


.notification.reminder {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.notification.reminder h4 {
  color: #f44336;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

.date {
  font-size: 0.8em;
  color: #888;
}


  /*********************/
.notification.comment {
  background-color: #e3f2fd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.notification.comment h4 {
  color: #2196f3;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

.date {
  font-size: 0.8em;
  color: #888;
}


/*********************/
.notification.like {
  background-color: #f1f8e9;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.notification.like h4 {
  color: #8bc34a;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

.date {
  font-size: 0.8em;
  color: #888;
}
