<!-- landing-page.component.html -->
<div class="landing-page">
  <app-landingheader></app-landingheader>
  
  <!-- Main Content -->
  <div class="container-fluid main-content">
    <div class="row">
      <div class="a">
        <div class="hero-section text-start">
          <p>Caring for better life</p>
          <h1>Leading the way in medical <br> excellence</h1>
          <p>Your health, our priority. Find doctors and schedule appointments online.</p>
        </div>
      </div> 
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Search doctors by name, specialty, etc." [(ngModel)]="searchQuery" />
      <button>Search</button>
    </div>

    <div class="doctors">
      <div class="row">
        <div *ngFor="let doctor of filteredDoctors" class="campus-col" >
    
          <img [src]="doctor.picture" alt="{{doctor.name}}" class="contact-avatar">
          <div class="layer">
        
            <h2>{{ doctor.name }}</h2>
            <h3>{{ doctor.specialty }}</h3>
          </div>
        </div>
      </div>
    </div>
   

    <!-- Top Doctors Section -->
    <div class="top-doctors-container">

      <h1 class="text-start">Top Doctors</h1>
      <div class="top-doctors mb-5">
        <div *ngFor="let doctor of doctors" class="doctor-card">
          <h4>{{ doctor.name }}</h4>
          <p>{{ doctor.specialty }}</p>
          <button>Book Appointment</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-landingfooter></app-landingfooter>
</div>


