<div class="doctors">
  <h2 class="page-title">Doctors</h2>
  <div class="table-container">
    <table class="table table-responsive table-sm table-success table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Specialization</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td>{{ doctor.id }}</td>
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>{{ doctor.contact }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>