
  .ring{top: -20%; position: absolute; left: 0; width: 58px; height: 55px; border: 1px solid transparent; border-radius: 50%; --color: #ff8df9; border-bottom: 8px solid var(--color); animation: rotate1 2s linear infinite;}   

    @keyframes rotate1 { 
       from{ transform: rotateX(50deg) rotateZ(110deg); }    
       to {transform: rotateX(50deg) rotateZ(470deg);}                                                                                            
    } 
    .ring:nth-child(2){ --color: #ff416a; animation-name: rotate2;}  
    @keyframes rotate2 {
        from{ transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);}  
        to{ transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);}                                                                                             
    } 
    .ring:nth-child(3){ --color: #00ffff; animation-name: rotate3;} 
     @keyframes rotate3{
        from{ transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);}  
        to{ transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);}                                                                                             
     }
     .ring:nth-child(4){ --color: #fcb737; animation-name: rotate4;}  
     @keyframes rotate4{ 
         from { transform: rotateX(70deg) rotateZ(270deg);}  
         to{ transform: rotateX(70deg) rotate(630deg);}                                                                                            
     } 
     
.header {
  background-color: rgb(50, 40, 40); 
  color: white;
  padding: 25px 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  margin-left: 80%;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nav-links li {
  margin-left: 18px;
}

.logo span{
  margin-left: 10%;
  color: orange;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  color: orange;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links li {
    margin-left: 0;
    width: 100%;
    text-align: left;
  }

  .nav-links a {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
  }
}


/******************************/


.dropdown {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd; 
}

.dropdown-content {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 10rem;
padding: 0.5rem 0;
margin: 0.125rem 0 0;
font-size: 1rem;
color: #404040;
text-align: left;
list-style: none;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #e3e3e3;
border-radius: 2px;
}

.dropdown-content a {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-content a:hover,
.dropdown-content a:focus  {
  color: #16181b;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: left;
  width: 100%;
  position: absolute;
}

.dropdown:hover .avatar {
  border-color: #4CAF50;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Close button for small screens */
.close-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #ff416a;
}

/* Styles for screens smaller than 940px */
@media (max-width: 940px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo a {
    margin-left: 0;
    font-size: 20px;
  }

  .nav-links {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100vh;
    margin-left: 60%;
    background-color: rgb(50, 40, 40);
    flex-direction: column;
    padding-top: 60px;
    transition: top 0.3s ease;
    width: 343px;
  }

  .nav-links.show {
    left: 0;
  }

  .nav-links li {
    margin-left: 0;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    font-size: 1.8rem;
  }

  .nav-links a {

    width: 100%;
    text-align: left;
  }

  /* Show the menu toggle button */
  .menu-toggle {
    display: block;
    font-size: 30px;
    margin-left: auto;
    margin-top: -40px;
  }

  /* Show close button when the menu is open */
  .close-menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 250px;
  }
} 
